body {
  margin: 0;
  font-family: 'Roboto',  'Helvetica Neue',sans-serif;
  background-color: aliceblue;
  height: 100%;
}

.App{
  width:100%;
  height:100%;
  margin: auto;
}
.container{
  height: 100px;
  width: 60% ;
  text-align: center;
  color:white;
  margin: auto;
}
.title{
  color: darkmagenta;
}
.nav-link{
  color:white;
  text-decoration: none;
}
a::after{
  color:white;
  text-decoration: none;
}
.login-screen{
  width: 40%;
  margin: 50px auto;
  height:200px;
  border: 1px solid black;

}
.login-title{
  text-align: center;
}
.login-user-list{
  width:200px;
  text-align: center;
}
.login-form{
  text-align: center;
}
.error{
  color:red;
}
.login-btn{
  margin-top:20px;
}
.signed-in{
  display: flex;
}
.dashboard-container{
  width: 50%;
    margin: 30px auto;
}
.question{
  border: 1px solid grey;
  height: 200px;
  width: 70%;
  margin: 30px auto;
  border-radius: 10px;
  height: fit-content;
  padding:0px 0px 20px 0px;
}
.question-author{
  height: 40px;
  border-bottom: 1px dotted grey;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}
.question-container{
  display: flex;
}
.question-user{
  width: 25%;
  margin: auto 19px;
  border-right: 1px solid black;
}
.question-vote{
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: auto;
  /* border: 1px solid black; */
  padding: 5px;
  background-color: #3f51b5;
  border-radius: 5px;
}

.view-poll{
  background-color: #3f51b5;
  color: white;
  text-decoration: none;
}
.view-poll::after{
  text-decoration: none;
}
.question-option-result{
  height: fit-content;
  border: 1px solid lightgrey;
  padding: 25px;
  border-radius: inherit;
}

.green-result{
  background-color: #e4f9e4;
}
.progress-bar{
  width: 100%;
  height: 30px;
  border: 1px solid darkgrey;
  border-radius: 20px;
  margin: 15px 0px;

}
.fill-percentage{
  height: 100%;
  background-color: green;
  border-radius: inherit;
}
.no-vote{
  color: grey;
  margin: 15px 0px;
}
.votes-block{
  width: 65%;
  border-radius: 6px;
}
.new-question{
  height: 200px;
  width: 40%;
  margin: 50px auto;
  /* border: 1px solid grey; */
  text-align: center;
}
.new-question-title{
  padding: 1px 0px;
    border: 1px solid lightgrey;
}
.new-question-form{
  border: 1px solid lightgrey;
  padding: 0px 0px 20px 0px;
}
.new-question-text-field{
  height: 42px;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}